[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.aws-lambda-python-alpha" = "*"
aws-cdk-lib = "<3.0.0,>=2.1.0"
boto3 = "*"
constructs = "<11.0.0,>=10.0.5"

[dev-packages]
autoflake = "*"
black = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
flake8 = "*"
isort = "*"

[requires]
python_version = "3.9"